@keyframes rotateToNext {
    0% {
        transform: perspective(700px) rotateY(0deg);
    }
    100% {
        transform: perspective(700px) rotateY(90deg);
    }
}
@keyframes rotateToPrev {
    0% {
        transform: perspective(700px) rotateY(-90deg);
    }
    100% {
        transform: perspective(700px) rotateY(0deg);
    }
}

@keyframes rotateToNext-1 {
    0% {
        transform: perspective(700px) rotateY(0deg);
    }
    100% {
        transform: perspective(700px) rotateY(90deg);
    }
}
@keyframes rotateToPrev-1 {
    0% {
        transform: perspective(700px) rotateY(-90deg);
    }
    100% {
        transform: perspective(700px) rotateY(0deg);
    }
}

.normal-1 {
    perspective: 5.5cm;
}

.rotate-next {
    animation:
        rotateToNext 0.7s ease-in,
        rotateToPrev 0.7s ease-out 0.7s;
}

.rotate-prev {
    animation:
        rotateToNext-1 0.7s ease-in,
        rotateToPrev-1 0.7s ease-out 0.7s;
}
