/* Links */
a {
    text-decoration: none;
}

/* Reset */
body {
    margin: 0;
    font-family: sans-serif;
}
* {
    box-sizing: border-box;
}

/* Page Transition Animation */
#page-content {
    opacity: 0;
}
#page-container.page-transition-finish #page-content {
    transition: opacity 0.3s ease-in-out;
    opacity: 1;
}

.bar-top{
    @apply bg-main-500/75 h-16;
    transform: rotateX(90deg) translateZ(20px);
    transition: all 0.3s ease-in-out;
}

.bar-left{
    @apply bg-main-500/75 h-16;
    transform: rotateY(-90deg) translateZ(20px);
    transition: all 0.3s ease-in-out;
}

.bar-front{
    @apply flex flex-row h-fit md:px-20 bg-white/60;
    transform: translateZ(20px);
    transition: all 0.3s ease-in-out;
}

/* .bar-right{

}

.bar-bottom{

}

.bar-back{

} */